<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/loginPage.css">
    <title>Login</title>
</head>
<body>
    <div class="mainWrapper">
        <div class="formWrapper">
            <form action="/user/login" method="post">
                <label>Log In:</label>
                <input type="email" placeholder="Email" name="email" id="Email">
                <input type="password" placeholder="Password" name="password" id="Password">
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>
