<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/passwordPrompt.css" />
    <title>Password Prompt</title>
  </head>
  <body>
    <div class="container">
      <h1>Enter Password</h1>
      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>
      <form action="/hisaab/<%= hisaabId %>/verify-password" method="POST">
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
