<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <!-- Main container for the entire section -->
    <div class="mainBodyPartContainer">
      <%- include('header') %>
      <!-- Wrapper div for the content inside -->
      <div class="hisaabWrapper">
        <% if(hisaabs && hisaabs.length > 0){ %> <% hisaabs.forEach(hisaab => {
        %>
        <div class="hisaab">
          <!-- Container for buttons and date information -->
          <div class="buttonsAndDateWrapper">
            <!-- Container for encryption/sharing button -->
            <div class="buttonWrapper">
              <% if(hisaab.isEncrypt) { %>
              <span class="encrptedOrNot"> Encrypted </span>
              <% } else { %>
              <span class="isAvailableOrNot"> Available </span>
              <% } %>
              <!-- Sharing icon -->
              <% if (hisaab.isSharable) { %>
              <span class="isSharable">
                <img src="svgs/isSharable.svg" alt="" />
              </span>
              <% } %>
            </div>

            <!-- Date information container -->
            <span class="createdDate">
              <span>Date:</span>
              <p><%= new Date(hisaab.data).toLocaleDateString() %></p>
            </span>
          </div>

          <!-- Content description -->
          <div class="hisaabContentWrapper">
            <span><%= hisaab.name %></span>
          </div>

          <!-- Navigation link -->
          <div class="hasaabNavigator">
            <a href="/hisaab/<%= hisaab._id %>">view hisaab</a>
          </div>
        </div>
        <% }) %> <% } else { %>
        <div class="no-hisaabs">
          <p>No hisaabs found. Create your first hisaab!</p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
